.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ff69b4; /* สีชมพู */
    border-right: 8px solid #1900ff; /* สีน้ำเงิน */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  